<wizard #wizard navBarLayout="small" navBarLocation="left">

  <wizard-step stepTitle="HI" navigationSymbol="HI">
    <div class="centered-content">
      <div class="margin10px">
        Hi, 请点击<span class="glyphicon glyphicon-menu-right"></span> 开始填写调查问卷， 本问卷无记名
        <p></p>
        <button type="button" class="btn btn-default" (click)="onShowQRButonClicked()">Show QR Code</button>
        <div *ngIf="showQRCode" class="row">
          <qr-code [value]=url [size]="150"></qr-code>
        </div>

      </div>
      <div class="row">
        <div class="btn-group">
          <button type="button" class="btn btn-default" nextStep><span class="glyphicon glyphicon-menu-right"></span>
          </button>
        </div>
      </div>
    </div>
  </wizard-step>

  <wizard-step *ngFor="let question of questions; let qIndex = index;" stepTitle="Q{{qIndex+1}}"
               navigationSymbol="{{qIndex+1}}">
    <div class="centered-content">
      <div class="margin10px">
        {{question.question}}
      </div>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let availableAnswer of question.availableAnswers; let aIndex=index"
            [ngClass]="{'active':isHighlighted(qIndex,availableAnswer)}"
            (click)="onItemClick(qIndex,availableAnswer)">
          {{availableAnswer.answer}}
        </li>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-default margin10px" previousStep><span
          class="glyphicon glyphicon-menu-left"></span>
        </button>
        <button type="button" class="btn btn-default  margin10px" nextStep><span
          class="glyphicon glyphicon-menu-right"></span>
        </button>
      </div>
    </div>
  </wizard-step>

  <wizard-step stepTitle="FIN" navigationSymbol="HI">
    <div class="centered-content">
      <div class="row">
        谢谢！
      </div>
      <div class="row">
        <div class="btn-group">
          <button type="button" class="btn btn-default" nextStep (click)="onSubmitButtonClicked()">提交</button>
        </div>
      </div>
    </div>
  </wizard-step>
</wizard>


